body {
    margin: 50px;
    padding: 10px;
    font-family: "Arial";
    text-align: center;
    color: #222;
    background: #f7f5f0;
}

.main-image {
    	border: solid 5px black;
      border-radius: 20%;
}

h1 {
    background-color: #e2e2e2;
    padding: 5px;
}

.section-title {
  text-transform: capitalize;
}